<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Carter+One&family=Marck+Script&family=Mochiy+Pop+One&family=Pangolin&display=swap"
            rel="stylesheet"
        />
        <title>YOLO!! 料金</title>
    </head>
    <body>
        <!-- <h1>YOLO!! DANCE SCHOOL</h1>
    <img id="logo" src="./images/logo.jpeg" alt="">
    <img id="schoolInfo" src="./images/school-info.png" alt=""> -->

        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container-fluid">
                <img id="logo" class="mg-fluid" src="../images/logo.jpeg" alt="" />
                <a id="titleOfNav" class="navbar-brand" href="../index.html">YOLO!! DANCE SCHOOL</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link text-light mx-3" href="../index.html"
                            ><img
                                id="houseIcon"
                                class=""
                                src="../images/house.png"
                                alt="ホーム"
                            />ホーム</a
                        >
                        <a class="nav-link text-light mx-3" href="price.html"
                            ><img
                                id="moneyIcon"
                                class=""
                                src="../images/money.png"
                                alt="公式instagram"
                            />料金</a
                        >
                        <a
                            class="nav-link text-light mx-3"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSctVnc5rYdFid7KFETZK58jhCAL7Lq732YUKRMmoxAYwX_s4Q/viewform"
                            ><img
                                id="dancersIcon"
                                class=""
                                src="../images/dancers.png"
                                alt="体験申込"
                            />体験申込</a
                        >
                        <a class="nav-link text-light mx-3" href="http://lin.ee/D5IT3Ka"
                            ><img id="lineIcon" class="" src="../images/line.png" alt="公式LINE" />
                            公式LINE</a
                        >
                        <a
                            class="nav-link text-light mx-3"
                            href="https://instagram.com/_yolodanceschool_?igshid=YmMyMTA2M2Y="
                            ><img
                                id="instaIcon"
                                class=""
                                src="../images/instagram.png"
                                alt="公式instagram"
                            />
                            公式instagram</a
                        >
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row mt-2 orientInfo">
                <div class="col-12 col-md-6 mt-3 mb-3">
                    <div class="orientSchool">レッスン料金</div>
                    <div class="orientTime">￥6,500 / 月</div>
                </div>
                <div class="col-12 col-md-6 mt-3 mb-3">
                    <div class="orientSchool">体験会参加費</div>
                    <div class="orientTime">￥1,000 / 回</div>
                </div>
            </div>
            <div class="row mt-2 orientInfo">
                <div class="col-12 mt-5 mb-3">
                    <div class="orientSchool">入会費</div>
                </div>
            </div>
            <div class="row mt-4 orientInfo">
                <div class="col-12 col-md-3"></div>
                <div class="col-12 col-md-3 signUpPrice mt-1 mb-1">
                    ￥6,800 のところ<br />体験会から即時入会で
                </div>
                <div class="col-12 col-md-3 priceLess mt-1 mb-1">入会費 無料🎉</div>
                <div class="col-12 col-md-3"></div>
            </div>
            <div class="row mt-4 orientInfo">
                <div class="col-12 updatePrice mt-2 mb-1">
                    ※入会後は年度更新となるため<br />
                    毎年4月に入会継続費 ¥3,000 を頂戴致します。<br />
                    ご了承下さいますようお願い致します。
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
