h1 {
    text-align: center;
    font-size: 70px;
}

#logo {
    display: block;
    text-align: center;
    margin: auto;
    width: 200px;
}

#schoolInfo {
    display: block;
    text-align: center;
    margin: 50px auto;
    width: 800px;
}